<rs-slides style="overflow: hidden; position: absolute;">
    <% for(var i=0; i < BannerData.length; i++) {%>
        <rs-slide style="position: absolute;" data-key="rs-<%= i+1 %>"
            data-title="Slide" data-anim="adpr:false;" data-in="o:0;"
            data-out="a:false;">
            <img src="../fRntTemplte/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                alt="" title="Main Home" class="rev-slidebg tp-rs-img rs-lazyload"
                data-lazyload="<%= process.env.BANNERPATH + BannerData[i] %>"
                data-no-retina>
            <rs-layer id="slider-1-slide-1-layer-1" data-type="image" data-rsp_ch="on"
                data-xy="x:c;yo:50px,34px,34px,34px;" data-text="l:22;a:inherit;"
                data-dim="w:['172px','172px','172px','172px'];h:['22px','22px','22px','22px'];"
                data-vbility="t,t,f,f" data-basealign="slide" data-frame_0="y:-50px;"
                data-frame_1="e:power2.out;sp:700;" data-frame_999="o:0;st:w;sR:8300;"
                style="z-index:5;">
                <!-- <img
                        src="wp-content/plugins/revslider/public/assets/assets/dummy.png"
                        alt="h" class="tp-rs-img rs-lazyload" width="408" height="100"
                        data-lazyload="images/Logo.png" data-no-retina> -->
            </rs-layer><rs-layer id="slider-1-slide-1-layer-2" data-type="text"
                data-xy="x:c;y:m;yo:10px,-4px,-10px,-20px;"
                data-text="w:normal;s:90,90,70,50;l:90,90,70,53;a:center;"
                data-dim="w:1000px,1116px,712px,310px;" data-basealign="slide"
                data-rsp_o="off" data-rsp_bd="off" data-frame_1="sp:700;"
                data-frame_999="o:0;st:w;sR:8300;"
                style="z-index:6;font-family:'EB Garamond';">Burning <span
                    style="font-style: italic;"> brightly</span> as a star,<span
                    style="font-style: italic;"> new collection</span> is here
                <i class="fa fa-spin"></i>
            </rs-layer>
            <rs-layer id="slider-1-slide-1-layer-3" class="edgtf-rev-scroll-down"
                data-type="text" data-xy="x:c;y:b;yo:130px;"
                data-text="s:11;l:22;ls:3px;fw:500;a:inherit;"
                data-actions='o:click;a:scrollbelow;offset:0;sp:1000;e:power4.inOut;'
                data-basealign="slide" data-rsp_o="off" data-rsp_bd="off"
                data-frame_999="o:0;st:w;sR:8700;"
                data-loop_999="sp:3000;e:power1.inOut;yym:t;yys:t;yyf:t;"
                style="z-index:7;font-family:'Montserrat';text-transform:uppercase;">Scroll
                down
                <!-- <i class="pe-7s-angle-left"></i>
                        <i class="pe-7s-angle-right"></i> -->
            </rs-layer>
            <rs-layer id="slider-1-slide-1-layer-3" class="edgtf-rev-scroll-down"
                data-type="text" data-xy="x:c;y:b;yo:130px;"
                data-text="s:11;l:22;ls:3px;fw:500;a:inherit;"
                data-actions='o:click;a:scrollbelow;offset:0;sp:1000;e:power4.inOut;'
                data-basealign="slide" data-rsp_o="off" data-rsp_bd="off"
                data-frame_999="o:0;st:w;sR:8700;"
                data-loop_999="sp:3000;e:power1.inOut;yym:t;yys:t;yyf:t;"
                style="z-index:7;font-family:'Montserrat';text-transform:uppercase;">
                <i class="pe-7s-angle-left"></i>
                <i class="pe-7s-angle-right"></i>
            </rs-layer>

        </rs-slide>
        <%}%>
</rs-slides>