<html lang="en">

<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RailNeer | <%= title %>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="/t@mplAte/plugins/custom/fullcalendar/fullcalendar.bundle5883.css" rel="stylesheet" type="text/css" />
    <link href="/t@mplAte/plugins/global/plugins.bundle5883.css" rel="stylesheet" type="text/css" />
    <link href="/t@mplAte/plugins/custom/prismjs/prismjs.bundle5883.css" rel="stylesheet" type="text/css" />
    <link href="/t@mplAte/css/style.bundle5883.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/copstyle.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="shortcut icon" href="../../images/logo.jpeg" /> -->
    <link rel="shortcut icon" href="/images/railneer_logo.png" />
    <style>
        .error {
            color: #e62c27;
            font-weight: bold;
        }

        .dataTables_wrapper .dataTables_paginate {
            display: block !important;
        }

        .swal2-icon {
            position: relative !important;
            box-sizing: content-box !important;
            justify-content: center !important;
            width: 5em !important;
            height: 5em !important;
            margin: 2.5em auto 0.6em !important;
            border: 0.25em solid rgba(0, 0, 0, 0) !important;
            border-radius: 50% !important;
            border-color: #03449e !important;
            font-family: inherit !important;
            line-height: 5em !important;
            cursor: default !important;
            user-select: none !important;
        }

        #kt_content {
            min-height: 630px;
        }
    </style>
</head>