<footer id="footer" class="edgtf-page-footer edgtf-footer-uncover edgtf-uncover-animated">
    <div class="edgtf-footer-top-holder">
        <div class="edgtf-footer-top-inner edgtf-grid">
            <div class="edgtf-grid-row edgtf-footer-top-alignment-left">
                <div class="edgtf-grid-col-2 edgtf-grid-col-2">
                    <!-- <div class="widget edgtf-separator-widget">
                        <div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
                            <div class="edgtf-separator"
                                style="border-style: solid;border-bottom-width: 5px;margin-top: 35px"></div>
                        </div>
                    </div> -->
                    <!-- srcset="https://lacomete.qodeinteractive.com/wp-content/uploads/2019/05/footer-image-300x41.png 300w, https://lacomete.qodeinteractive.com/wp-content/uploads/2019/05/footer-image-600x82.png 600w, https://lacomete.qodeinteractive.com/wp-content/uploads/2019/05/footer-image.png 684w" -->

                    <div id="media_image-3" class="widget edgtf-footer-column-1 widget_media_image"><a
                            href="/Splash"><img width="300" height="41" src="/images/Logo.png"
                                class="image wp-image-2849 attachment-medium size-medium mobilefooterlogo" alt="p"
                                loading="lazy" style="max-width: 100%; height: auto;"
                                sizes="(max-width: 300px) 100vw, 300px" /></a>
                    </div>
                    <!-- <div id="text-2" class="widget edgtf-footer-column-2 widget_text">
                        <div class="textwidget">
                            <h4 style="color: #fff; margin-top: 0;">
                                About Asaga</h4>
                        </div>
                    </div> -->
                </div>
                <div class="edgtf-column-content edgtf-grid-col-2">
                    <div id="text-2" class="widget edgtf-footer-column-2 widget_text">
                        <div class="textwidget">
                            <h4 style="color: #fff; margin-top: 0;font-family: 'EB Garamond',serif;
                            font-weight: 400;">Subscribe to Asaga and
                                share our story.</h4>
                        </div>
                    </div>
                    <div class="widget edgtf-separator-widget">
                        <div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
                            <div class="edgtf-separator" style="border-style: solid;margin-top: -15px">
                            </div>
                        </div>
                    </div>
                    <div class="widget edgtf-contact-form-7-widget ">
                        <div role="form" class="wpcf7" id="wpcf7-f216-o2" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <form action="/SubscribeMail" method="POST" autocomplete="off" name="" id="addUser">
                                <div class="edgtf-nf-custom-style">
                                    <span class="wpcf7-form-control-wrap" data-name="your-email">
                                        <input type="email" name="EmailID" value="" size="" id="EmailID"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            placeholder="Your Email" style="width: 100%;" />
                                    </span>
                                    <button type="submit" id="btnSubScribeMail"
                                        class="wpcf7-form-control wpcf7-submit edgtf-btn edgtf-btn-medium edgtf-btn-solid"><span
                                            class="edgtf-btn-text">Send</span></button>
                                </div>
                                <!-- <div class="wpcf7-response-output" aria-hidden="true"></div> -->
                            </form>
                        </div>
                    </div>
                    <div class="widget edgtf-separator-widget">
                        <div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
                            <div class="edgtf-separator" style="border-style: solid;margin-top: 16px"></div>
                        </div>
                    </div>
                </div>
                <div class="edgtf-column-content edgtf-grid-col-2">
                    <div id="nav_menu-2" class="widget edgtf-footer-column-3 widget_nav_menu">
                        <div class="edgtf-widget-title-holder">
                            <h6 class="edgtf-widget-title footerheader" style="font-size: 12px;">QUICK LINKS</h6>
                        </div>
                        <div class="menu-footer-container">
                            <ul id="menu-footer" class="menu">
                                <li id="menu-item-210"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                    <a class="footera" href="/AboutUs">About us</a>
                                </li>
                                <li id="menu-item-212"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212">
                                    <a class="footera" target="_blank" rel="noopener"
                                        href="https://www.instagram.com/asaga.in/?utm_medium=copy_link">Instagram</a>
                                </li>
                                <li id="menu-item-212"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212">
                                    <a class="footera" target="_blank" rel="noopener"
                                        href="https://www.facebook.com/Asaga1991">Facebook</a>
                                </li>
                                <li id="menu-item-212"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212">
                                    <a class="footera" target="_blank" rel="noopener"
                                        href="https://goo.gl/maps/XpBdhosydo1URQNA6">Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="edgtf-column-content edgtf-grid-col-2">
                    <div id="nav_menu-2" class="widget edgtf-footer-column-3 widget_nav_menu">
                        <div class="edgtf-widget-title-holder">
                            <h6 class="edgtf-widget-title footerheader" style="font-size: 12px;">HELP</h6>
                        </div>
                        <div class="menu-footer-container">
                            <ul id="menu-footer" class="menu">
                                <li id="menu-item-210"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                    <a class="footera" href="/FAQ">FAQ</a>
                                </li>
                                <li id="menu-item-210"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                    <a class="footera" href="/RefundPolicy">Refund Policy</a>
                                </li>
                                <li id="menu-item-210"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                    <a class="footera" href="/TermsCondition">Terms & Conditions</a>
                                </li>
                                <li id="menu-item-210"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                    <a class="footera" href="/ContactUs">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="edgtf-footer-bottom-holder">
        <div class="edgtf-footer-bottom-inner edgtf-grid">
            <div class="edgtf-grid-row ">
                <div class="edgtf-column-content " style="padding-top: 10px;">
                    <div id="text-14" class="widget edgtf-footer-bottom-column-1 widget_text">
                        <div class="textwidget" style="text-align: center;">
                            <p
                                style="font-family: montserrat, sans-serif; font-size: 10px; color: white;letter-spacing: 0.1rem; text-transform: capitalize;">
                                &copy; <%= new Date().getFullYear();%> ASAGA Handcrafted by
                                    <a style="color: white !important; letter-spacing: 0.1rem;
                                text-transform: capitalize;" class="edgtf-link-custom-style"
                                        href="http://smtechno.com/" target="_blank" rel="nofollow noopener">S M
                                        Techno Consultants Pvt. Ltd.</a></p>
                        </div>
                    </div>
                </div>
                <div class="edgtf-column-content edgtf-grid-col-6">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="omk-ctc-btn">
<div class="row">

    <a id="dwnPDF" target="_blank" href="https://api.whatsapp.com/send/?phone=917505585951"
            style="-webkit-text-fill-color: black;font-family: inherit;text-transform: uppercase;">
            <img src="../images/whatsapp.png">
        </a>
    </div>

</div> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send/?phone=917505585951" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
</div>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script> -->
<script data-cfasync="false"
    src="../fRntTemplte/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script>
    window.RS_MODULES = window.RS_MODULES || {};
    window.RS_MODULES.modules = window.RS_MODULES.modules || {};
    window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
    window.RS_MODULES.defered = false;
    window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
    window.RS_MODULES.type = 'compiled';
</script>
<!-- <div class="rbt-toolbar" data-theme="La Comète" data-featured="" data-button-position="80%"
    data-button-horizontal="right" data-button-alt="no"></div> -->


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T772QJ" height="0" width="0"
        style="display:none;visibility:hidden" aria-hidden="true"></iframe></noscript>

<div id="yith-quick-view-modal">
    <div class="yith-quick-view-overlay"></div>
    <div class="yith-wcqv-wrapper">
        <div class="yith-wcqv-main">
            <div class="yith-wcqv-head">
                <a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
            </div>
            <div id="yith-quick-view-content" class="woocommerce single-product"></div>
        </div>
    </div>
</div>
<script type="text/html" id="wpb-modifications"></script>
<style id="" media="all">
    @font-face {
        font-family: 'EB Garamond';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(../fRntTemplte/fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL99U60.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../fRntTemplte/fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aX8.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fRntTemplte/fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
    }
</style>
<script type="text/javascript">
    (function () {
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    })();
</script>
<script>
    if (typeof revslider_showDoubleJqueryError === "undefined") { function revslider_showDoubleJqueryError(sliderID) { console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion."); console.log("To fix this, you can:"); console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on"); console.log("2. Find the double jQuery.js inclusion and remove it"); return "Double Included jQuery Library"; } }
</script>
<link rel='stylesheet' id='rs-plugin-settings-css'
    href='../fRntTemplte/wp-content/plugins/revslider/public/assets/css/rs60660.css?ver=6.6.5' type='text/css'
    media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
    .edgtf-rev-scroll-down {
        cursor: pointer
    }
</style>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0'
    id='jquery-selectBox-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min005e.js?ver=3.1.6'
    id='prettyPhoto-js'></script>
<script type='text/javascript' id='jquery-yith-wcwl-js-extra'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = { "ajax_url": "\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "enable_ajax_loading": "", "ajax_loader_url": "https:\/\/lacomete.qodeinteractive.com\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader-alt.svg", "remove_from_wishlist_after_add_to_cart": "1", "is_wishlist_responsive": "1", "time_to_close_prettyphoto": "3000", "fragments_index_glue": ".", "reload_on_found_variation": "1", "mobile_media_query": "768", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies on your browser are enabled.", "added_to_cart_message": "<div class=\"woocommerce-notices-wrapper\"><div class=\"woocommerce-message\" role=\"alert\">Product added to cart successfully<\/div><\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem", "load_mobile_action": "load_mobile", "delete_item_action": "delete_item", "save_title_action": "save_title", "save_privacy_action": "save_privacy", "load_fragments": "load_fragments" }, "nonce": { "add_to_wishlist_nonce": "80e213d1be", "remove_from_wishlist_nonce": "25b928b5d1", "reload_wishlist_and_adding_elem_nonce": "d4269f23ac", "load_mobile_nonce": "6bbb6255d7", "delete_item_nonce": "d5e7c4b9c8", "save_title_nonce": "a2c6779fe3", "save_privacy_nonce": "268e85185a", "load_fragments_nonce": "a48708e557" } };
/* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.mindf38.js?ver=3.14.0'
    id='jquery-yith-wcwl-js'></script>
<script type='text/javascript' src='../fRntTemplte/wp-content/plugins/anti-spam/assets/js/anti-spamba31.js?ver=7.3.3'
    id='anti-spam-script-js'></script>
<!-- <script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/contact-form-7/includes/swv/js/index77e1.js?ver=5.6.4' id='swv-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'> -->
<!-- /* <![CDATA[ */
    var wpcf7 = { "api": { "root": "https:\/\/lacomete.qodeinteractive.com\/wp-json\/", "namespace": "contact-form-7\/v1" } };
/* ]]> */
</script> -->
<!-- <script type='text/javascript' src='../fRntTemplte/wp-content/plugins/contact-form-7/includes/js/index77e1.js?ver=5.6.4'
    id='contact-form-7-js'></script> -->
<script type='text/javascript'
    src='../fRntTemplte/export.qodethemes.com/_toolbar/assets/js/rbt-modules1eb7.js?ver=6.0.3'
    id='rabbit_js-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min584e.js?ver=1.7.21-wc.7.0.0'
    id='zoom-js'></script>
<script type='text/javascript' id='wc-single-product-js-extra'>
    /* <![CDATA[ */
    var wc_single_product_params = { "i18n_required_rating_text": "Please select a rating", "review_rating_required": "yes", "flexslider": { "rtl": false, "animation": "slide", "smoothHeight": true, "directionNav": false, "controlNav": "thumbnails", "slideshow": false, "animationSpeed": 500, "animationLoop": false, "allowOneSlide": false }, "zoom_enabled": "1", "zoom_options": [], "photoswipe_enabled": "", "photoswipe_options": { "shareEl": false, "closeOnScroll": false, "history": false, "hideAnimationDuration": 0, "showAnimationDuration": 0 }, "flexslider_enabled": "" };
        /* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min823d.js?ver=7.0.0'
    id='wc-single-product-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.minc599.js?ver=2.1.4-wc.7.0.0'
    id='js-cookie-js'></script>
<!-- <script type='text/javascript' id='woocommerce-js-extra'>
    /* <![CDATA[ */
    var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
/* ]]> */
</script> -->
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min823d.js?ver=7.0.0'
    id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_6f98466f186437584899cb4a637d1090", "fragment_name": "wc_fragments_6f98466f186437584899cb4a637d1090", "request_timeout": "5000" };
/* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min823d.js?ver=7.0.0'
    id='wc-cart-fragments-js'></script>
<!-- <script type='text/javascript' id='ppress-frontend-script-js-extra'>
    /* <![CDATA[ */
    var pp_ajax_form = { "ajaxurl": "https:\/\/lacomete.qodeinteractive.com\/wp-admin\/admin-ajax.php", "confirm_delete": "Are you sure?", "deleting_text": "Deleting...", "deleting_error": "An error occurred. Please try again.", "nonce": "4399b967ea", "disable_ajax_form": "false", "is_checkout": "0", "is_checkout_tax_enabled": "0" };
/* ]]> */
</script> -->
<!-- <script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/wp-user-avatar/assets/js/frontend.minb2f9.js?ver=4.3.0'
    id='ppress-frontend-script-js'></script> -->
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-form-move-tracker34dd.js?ver=1.16.1'
    id='gtm4wp-form-move-tracker-js'></script>
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/underscore.minb37e.js?ver=1.13.3'
    id='underscore-js'></script>
<!-- <script type='text/javascript' id='wp-util-js-extra'>
    /* <![CDATA[ */
    var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
/* ]]> */
</script> -->
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/wp-util.min1eb7.js?ver=6.0.3'
    id='wp-util-js'></script>
<script type='text/javascript' id='wc-add-to-cart-variation-js-extra'>
    /* <![CDATA[ */
    var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.", "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.", "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination." };
/* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min823d.js?ver=7.0.0'
    id='wc-add-to-cart-variation-js'></script>
<script type='text/javascript' id='yith_wccl_frontend-js-extra'>
    /* <![CDATA[ */
    var yith_wccl_general = { "ajaxurl": "\/?wc-ajax=%%endpoint%%", "actionAddCart": "yith_wccl_add_to_cart", "actionVariationGallery": "yith_wccl_variation_gallery", "cart_redirect": "", "cart_url": "https:\/\/lacomete.qodeinteractive.com\/cart\/", "view_cart": "View Cart", "tooltip": "1", "tooltip_pos": "top", "tooltip_ani": "fade", "description": "1", "add_cart": "Add to cart", "grey_out": "", "image_hover": "", "wrapper_container_shop": "li.product,.wishlist-items-wrapper .product-add-to-cart", "image_selector": "img.wp-post-image,img.attachment-woocommerce_thumbnail", "enable_handle_variation_gallery": "1", "plugin_compatibility_selectors": "yith-wcan-ajax-filtered yith_infs_adding_elem initialized.owl.carousel post-load ajax-tab-loaded", "single_gallery_selector": ".woocommerce-product-gallery", "set_srcset_on_loop_image": "1" };
/* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/yith-woocommerce-color-label-variations-premium/assets/js/yith-wccl.minb3a6.js?ver=1.19.0'
    id='yith_wccl_frontend-js'></script>
<!-- <script type='text/javascript' id='yith-wcqv-frontend-js-extra'>
    /* <![CDATA[ */
    var yith_qv = { "ajaxurl": "\/wp-admin\/admin-ajax.php", "loader": "https:\/\/lacomete.qodeinteractive.com\/wp-content\/plugins\/yith-woocommerce-quick-view\/assets\/image\/qv-loader.gif", "lang": "" };
/* ]]> */
</script> -->
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/yith-woocommerce-quick-view/assets/js/frontend.minb3a6.js?ver=1.19.0'
    id='yith-wcqv-frontend-js'></script>
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/jquery/ui/core.min0028.js?ver=1.13.1'
    id='jquery-ui-core-js'></script>
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/jquery/ui/tabs.min0028.js?ver=1.13.1'
    id='jquery-ui-tabs-js'></script>
<!-- <script type='text/javascript' id='mediaelement-core-js-before'>
    var mejsL10n = { "language": "en", "strings": { "mejs.download-file": "Download File", "mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/", "mejs.fullscreen": "Fullscreen", "mejs.play": "Play", "mejs.pause": "Pause", "mejs.time-slider": "Time Slider", "mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.", "mejs.live-broadcast": "Live Broadcast", "mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.", "mejs.unmute": "Unmute", "mejs.mute": "Mute", "mejs.volume-slider": "Volume Slider", "mejs.video-player": "Video Player", "mejs.audio-player": "Audio Player", "mejs.captions-subtitles": "Captions\/Subtitles", "mejs.captions-chapters": "Chapters", "mejs.none": "None", "mejs.afrikaans": "Afrikaans", "mejs.albanian": "Albanian", "mejs.arabic": "Arabic", "mejs.belarusian": "Belarusian", "mejs.bulgarian": "Bulgarian", "mejs.catalan": "Catalan", "mejs.chinese": "Chinese", "mejs.chinese-simplified": "Chinese (Simplified)", "mejs.chinese-traditional": "Chinese (Traditional)", "mejs.croatian": "Croatian", "mejs.czech": "Czech", "mejs.danish": "Danish", "mejs.dutch": "Dutch", "mejs.english": "English", "mejs.estonian": "Estonian", "mejs.filipino": "Filipino", "mejs.finnish": "Finnish", "mejs.french": "French", "mejs.galician": "Galician", "mejs.german": "German", "mejs.greek": "Greek", "mejs.haitian-creole": "Haitian Creole", "mejs.hebrew": "Hebrew", "mejs.hindi": "Hindi", "mejs.hungarian": "Hungarian", "mejs.icelandic": "Icelandic", "mejs.indonesian": "Indonesian", "mejs.irish": "Irish", "mejs.italian": "Italian", "mejs.japanese": "Japanese", "mejs.korean": "Korean", "mejs.latvian": "Latvian", "mejs.lithuanian": "Lithuanian", "mejs.macedonian": "Macedonian", "mejs.malay": "Malay", "mejs.maltese": "Maltese", "mejs.norwegian": "Norwegian", "mejs.persian": "Persian", "mejs.polish": "Polish", "mejs.portuguese": "Portuguese", "mejs.romanian": "Romanian", "mejs.russian": "Russian", "mejs.serbian": "Serbian", "mejs.slovak": "Slovak", "mejs.slovenian": "Slovenian", "mejs.spanish": "Spanish", "mejs.swahili": "Swahili", "mejs.swedish": "Swedish", "mejs.tagalog": "Tagalog", "mejs.thai": "Thai", "mejs.turkish": "Turkish", "mejs.ukrainian": "Ukrainian", "mejs.vietnamese": "Vietnamese", "mejs.welsh": "Welsh", "mejs.yiddish": "Yiddish" } };
</script> -->
<script type='text/javascript'
    src='../fRntTemplte/wp-includes/js/mediaelement/mediaelement-and-player.min08e1.js?ver=4.2.16'
    id='mediaelement-core-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-includes/js/mediaelement/mediaelement-migrate.min1eb7.js?ver=6.0.3'
    id='mediaelement-migrate-js'></script>
<!-- <script type='text/javascript' id='mediaelement-js-extra'>
    
    var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/", "classPrefix": "mejs-", "stretching": "responsive" };

</script> -->
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/mediaelement/wp-mediaelement.min1eb7.js?ver=6.0.3'
    id='wp-mediaelement-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/jquery.appear1eb7.js?ver=6.0.3'
    id='appear-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/modernizr.min1eb7.js?ver=6.0.3'
    id='modernizr-js'></script>
<script type='text/javascript' src='../fRntTemplte/wp-includes/js/hoverIntent.min3e5a.js?ver=1.10.2'
    id='hoverIntent-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/owl.carousel.min1eb7.js?ver=6.0.3'
    id='owl-carousel-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/jquery.waypoints.min1eb7.js?ver=6.0.3'
    id='waypoints-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/fluidvids.min1eb7.js?ver=6.0.3'
    id='fluidvids-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/perfect-scrollbar.jquery.min1eb7.js?ver=6.0.3'
    id='perfect-scrollbar-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/ScrollToPlugin.min1eb7.js?ver=6.0.3'
    id='scroll-to-plugin-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/parallax.min1eb7.js?ver=6.0.3'
    id='parallax-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/jquery.waitforimages1eb7.js?ver=6.0.3'
    id='waitforimages-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/jquery.prettyPhoto1eb7.js?ver=6.0.3'
    id='prettyphoto-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/jquery.easing.1.31eb7.js?ver=6.0.3'
    id='jquery-easing-1.3-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.minf7be.js?ver=6.10.0'
    id='isotope-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/packery-mode.pkgd.min1eb7.js?ver=6.0.3'
    id='packery-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/CSSPlugin.min1eb7.js?ver=6.0.3'
    id='CSSPlugin-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules/plugins/TweenLite.min1eb7.js?ver=6.0.3'
    id='tweenLite-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/lacomete-core/shortcodes/preview-slider/assets/js/plugins/slick.min1eb7.js?ver=6.0.3'
    id='slick-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min8d46.js?ver=4.0.3-wc.7.0.0'
    id='select2-js'></script>
<!-- <script type='text/javascript'
    src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAMidiMkkZ9zvtB648bQMFHUdPx9Loubmk&amp;ver=6.0.3'
    id='lacomete-edge-google-map-api-js'></script> -->
<script type='text/javascript' id='lacomete-edge-modules-js-extra'>
    /* <![CDATA[ */
    var edgtfGlobalVars = { "vars": { "edgtfAddForAdminBar": 0, "edgtfElementAppearAmount": -100, "edgtfAjaxUrl": "https:\/\/lacomete.qodeinteractive.com\/wp-admin\/admin-ajax.php", "sliderNavPrevArrow": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\"\n\t\twidth=\"26px\" height=\"40px\" viewBox=\"0 0 33 49\" enable-background=\"new 0 0 33 49\" xml:space=\"preserve\">\n\t\t    <line fill=\"none\" stroke=\"currentColor\" stroke-miterlimit=\"10\" x1=\"111.628\" y1=\"-47.465\" x2=\"112.294\" y2=\"-47.465\"\/>\n            <polyline fill=\"none\" stroke=\"currentColor\" stroke-miterlimit=\"10\" points=\"32.809,0.394 0.813,25.391 30.979,48.892 \"\/>\n\t\t<\/svg>", "sliderNavNextArrow": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\"\n\t\twidth=\"26px\" height=\"40px\" viewBox=\"0 0 33 49\" enable-background=\"new 0 0 33 49\" xml:space=\"preserve\">\n\t\t    <line fill=\"none\" stroke=\"currentColor\" stroke-miterlimit=\"10\" x1=\"111.628\" y1=\"-47.465\" x2=\"112.294\" y2=\"-47.465\"\/>\n            <polyline fill=\"none\" stroke=\"currentColor\" stroke-miterlimit=\"10\" points=\"32.809,0.394 0.813,25.391 30.979,48.892 \"\/>\n\t\t<\/svg>", "ppExpand": "Expand the image", "ppNext": "Next", "ppPrev": "Previous", "ppClose": "Close", "edgtfStickyHeaderHeight": 0, "edgtfStickyHeaderTransparencyHeight": 0, "edgtfTopBarHeight": 40, "edgtfLogoAreaHeight": 0, "edgtfMenuAreaHeight": 127, "edgtfMobileHeaderHeight": 70 } };
    var edgtfPerPageVars = { "vars": { "edgtfMobileHeaderHeight": 70, "edgtfStickyScrollAmount": 0, "edgtfHeaderTransparencyHeight": 87, "edgtfHeaderVerticalWidth": 0 } };
/* ]]> */
</script>
<script type='text/javascript' src='../fRntTemplte/wp-content/themes/lacomete/assets/js/modules.min1eb7.js?ver=6.0.3'
    id='lacomete-edge-modules-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.minf7be.js?ver=6.10.0'
    id='wpb_composer_front_js-js'></script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min584e.js?ver=1.7.21-wc.7.0.0'
    id='zoom-js'></script>
<script type='text/javascript' id='wc-single-product-js-extra'>
    /* <![CDATA[ */
    var wc_single_product_params = { "i18n_required_rating_text": "Please select a rating", "review_rating_required": "yes", "flexslider": { "rtl": false, "animation": "slide", "smoothHeight": true, "directionNav": false, "controlNav": "thumbnails", "slideshow": false, "animationSpeed": 500, "animationLoop": false, "allowOneSlide": false }, "zoom_enabled": "1", "zoom_options": [], "photoswipe_enabled": "", "photoswipe_options": { "shareEl": false, "closeOnScroll": false, "history": false, "hideAnimationDuration": 0, "showAnimationDuration": 0 }, "flexslider_enabled": "" };
/* ]]> */
</script>
<script type='text/javascript'
    src='../fRntTemplte/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min823d.js?ver=7.0.0'
    id='wc-single-product-js'></script>

<script id="rs-initialisation-scripts">
    var tpj = jQuery;

    var revapi1;

    if (window.RS_MODULES === undefined) window.RS_MODULES = {};
    if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
    RS_MODULES.modules["revslider11"] = {
        once: RS_MODULES.modules["revslider11"] !== undefined ? RS_MODULES.modules["revslider11"].once : undefined, init: function () {
            window.revapi1 = window.revapi1 === undefined || window.revapi1 === null || window.revapi1.length === 0 ? document.getElementById("rev_slider_1_1") : window.revapi1;
            if (window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length == 0) { window.revapi1initTry = window.revapi1initTry === undefined ? 0 : window.revapi1initTry + 1; if (window.revapi1initTry < 20) requestAnimationFrame(function () { RS_MODULES.modules["revslider11"].init() }); return; }
            window.revapi1 = jQuery(window.revapi1);
            if (window.revapi1.revolution == undefined) { revslider_showDoubleJqueryError("rev_slider_1_1"); return; }
            revapi1.revolutionInit({
                revapi: "revapi1",
                DPR: "dpr",
                sliderLayout: "fullscreen",
                visibilityLevels: "1920,1710,1025,480",
                gridwidth: "1300,1100,600,300",
                gridheight: "868,768,960,720",
                lazyType: "smart",
                perspective: 600,
                perspectiveType: "local",
                editorheight: "868,768,960,720",
                responsiveLevels: "1920,1710,1025,480",
                progressBar: { disableProgressBar: true },
                navigation: {
                    onHoverStop: false
                },
                viewPort: {
                    global: true,
                    globalDist: "-200px",
                    enable: false,
                    visible_area: "20%"
                },
                fallbacks: {
                    allowHTML5AutoPlayOnAndroid: true
                },
            });

        }
    } // End of RevInitScript

    if (window.RS_MODULES.checkMinimal !== undefined) { window.RS_MODULES.checkMinimal(); };
</script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: '/BindCartCount',
            success: function (globalres) {
                $("#BinCountInCart")[0].innerHTML = globalres.data;
                $("#BinCountInCartMobile")[0].innerHTML = globalres.data;
                if (globalres.data > 0) {
                    $("#emptyCart").css("display", "none");
                    $("#itemWithCart").css("display", "flex");
                } else {
                    $("#emptyCart").css("display", "flex");
                    $("#itemWithCart").css("display", "none");
                }
            },
            error: function (data) {
                //alert(data);
            }
        });
    });

    function RemoveDataFromLocalStorage(localStorageKey) {
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: '/RemoveDataFromLocalStorage/' + localStorageKey,
            success: function (res) {
                if (res.message == 'Success') {
                    // window.location.href = '/Splash';
                    //window.history.back();
                    window.location.href = window.location.href;
                }
            },
            error: function (data) {
                //alert(data);
            }
        });
    }
</script>
<script src="../../javascripts/jquery.validate.js"></script>
<script src="../../javascripts/inputvalidation.js"></script>
<script src="../../javascripts/sweetalert/sweetalert2@11.js"></script>
<script type="text/javascript">

    jQuery('#btnSubScribeMail').click(function () {
        jQuery("#addUser").validate({
            debug: false,
            errorElement: 'span',
            invalidHandler: function (event, validator) {
                //debugger;
                if (validator.numberOfInvalids() > 0) {
                    event.preventDefault();
                }
            },
            onkeyup: false,
            messages: {
                EmailID: {
                    required: "Please Enter EmailID"
                },
            },
            rules: {

                EmailID: {
                    required: true,
                    email: true,
                    remote: {
                        accepts: "application/json",
                        beforeSend: function (jqXHR, settings) {
                        },
                        //cache: false,
                        complete: function (jqXHR, textStatus) {
                        },
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        crossDomain: false,
                        data:
                        {
                            EmailID: function () {
                                return $("#EmailID").val();
                            }
                        },
                        dataFilter: function (data) {
                            var json = JSON.parse(data);
                            if (json.Message == 'true') {
                                return true;
                            }
                            else {
                                return "\"" + json.Message + "\"";
                            }
                        },
                        datatype: "application/json",
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        },
                        //processData: false,
                        type: "POST",
                        url: "/CheckEmailID"
                    }
                }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else if (element.hasClass('select2')) {
                    error.insertAfter(element.next('span'));
                } else if ($(element).parent().hasClass('multiselect-native-select')) {
                    error.insertAfter($(element).parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form, event) {
                event.preventDefault();
            }
        });
    });

    var error = JSON.parse('<%- JSON.stringify(alertTitle) %>');
    var error1 = JSON.parse('<%- JSON.stringify(alertMessage) %>');
    var errortype;
    if (error1 == "SubscribeEmailSuccess") {
        if (error == "Invalid") {
            errortype = 'warning'
        } else if (error == "Success") {
            errortype = 'success'
        } else if (error == "Delete") {
            errortype = 'success'
        }
        Swal.fire({
            //title: error,
            text: 'Thank you for subscribe',
            icon: errortype,
            // icon: 'error',
            showCancelButton: false,
            showConfirmButton: false,
            // toast: false,
            // modal: true,
            //position: 'relative',
            timer: 3000
        }).then(function () {
            if (error == "Success") {
                // window.location.href = window.history.back();
                window.location.href = "/Splash"
            }
        });
    }
</script>
</body>

</html>